ShooterProject/.vs/

ShooterProject/Binaries/Win64/ShooterProjectEditor.target
ShooterProject/Binaries/Win64/UnrealEditor-ShooterProject.dll
ShooterProject/Binaries/Win64/UnrealEditor-ShooterProject.pdb
ShooterProject/Binaries/Win64/UnrealEditor.modules
ShooterProject/Intermediate/Build/BuildRules/ShooterProjectModuleRules.dll
ShooterProject/Intermediate/Build/BuildRules/ShooterProjectModuleRules.pdb
ShooterProject/Intermediate/Build/BuildRules/ShooterProjectModuleRulesManifest.json
ShooterProject/Intermediate/Build/SourceFileCache.bin
ShooterProject/Intermediate/Build/Win64/ActionHistory.bin
ShooterProject/Intermediate/Build/Win64/ShooterProjectEditor/Development/ShooterProjectEditor.deps
ShooterProject/Intermediate/Build/Win64/ShooterProjectEditor/Development/ShooterProjectEditor.uhtmanifest
ShooterProject/Intermediate/Build/Win64/ShooterProjectEditor/Development/ShooterProjectEditor.uhtpath
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/ShooterProject.init.gen.cpp
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/ShooterProjectCharacter.gen.cpp
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/ShooterProjectCharacter.generated.h
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/ShooterProjectClasses.h
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/ShooterProjectGameMode.gen.cpp
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/ShooterProjectGameMode.generated.h
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/ShooterProjectProjectile.gen.cpp
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/ShooterProjectProjectile.generated.h
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/Timestamp
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/TP_PickUpComponent.gen.cpp
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/TP_PickUpComponent.generated.h
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/TP_WeaponComponent.gen.cpp
ShooterProject/Intermediate/Build/Win64/UnrealEditor/Inc/ShooterProject/UHT/TP_WeaponComponent.generated.h
ShooterProject/Intermediate/Build/Win64/x64/ShooterProjectEditor/ActionHistory.bin
ShooterProject/Intermediate/Build/Win64/x64/ShooterProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.cpp
ShooterProject/Intermediate/Build/Win64/x64/ShooterProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h
ShooterProject/Intermediate/Build/Win64/x64/ShooterProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h.dep.json
ShooterProject/Intermediate/Build/Win64/x64/ShooterProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h.obj
ShooterProject/Intermediate/Build/Win64/x64/ShooterProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h.obj.response
ShooterProject/Intermediate/Build/Win64/x64/ShooterProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h.pch
ShooterProject/Intermediate/Build/Win64/x64/ShooterProjectEditor/Development/Makefile.bin
ShooterProject/Intermediate/Build/Win64/x64/ShooterProjectEditor/Development/TargetMetadata.dat
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/ActionHistory.bin
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/Default.rc2.res
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/Default.rc2.res.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/Definitions.ShooterProject.h
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/LiveCodingInfo.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProject.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProject.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProject.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProject.init.gen.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProject.init.gen.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProject.init.gen.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectCharacter.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectCharacter.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectCharacter.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectCharacter.gen.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectCharacter.gen.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectCharacter.gen.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectGameMode.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectGameMode.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectGameMode.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectGameMode.gen.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectGameMode.gen.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectGameMode.gen.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectProjectile.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectProjectile.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectProjectile.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectProjectile.gen.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectProjectile.gen.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/ShooterProjectProjectile.gen.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_PickUpComponent.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_PickUpComponent.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_PickUpComponent.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_PickUpComponent.gen.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_PickUpComponent.gen.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_PickUpComponent.gen.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_WeaponComponent.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_WeaponComponent.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_WeaponComponent.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_WeaponComponent.gen.cpp.dep.json
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_WeaponComponent.gen.cpp.obj
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/TP_WeaponComponent.gen.cpp.obj.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/UnrealEditor-ShooterProject.dll.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/UnrealEditor-ShooterProject.exp
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/UnrealEditor-ShooterProject.lib
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/UnrealEditor-ShooterProject.lib.response
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/UnrealEditor-ShooterProject.suppressed.exp
ShooterProject/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShooterProject/UnrealEditor-ShooterProject.suppressed.lib
ShooterProject/Intermediate/CachedAssetRegistry.bin
ShooterProject/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
ShooterProject/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
ShooterProject/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
ShooterProject/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
ShooterProject/Intermediate/Config/CoalescedSourceConfigs/ObjectMixer.ini
ShooterProject/Intermediate/Config/CoalescedSourceConfigs/ObjectMixerSerializedData.ini
ShooterProject/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
ShooterProject/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
ShooterProject/Intermediate/ReimportCache/3688439234.bin
ShooterProject/Intermediate/ShaderAutogen/PCD3D_ES3_1/AutogenShaderHeaders.ush
ShooterProject/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
ShooterProject/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
ShooterProject/Intermediate/TargetInfo.json
ShooterProject/Saved/Config/CrashReportClient/UECC-Windows-00C150E747AA1EC51860FA936BE74668/CrashReportClient.ini
ShooterProject/Saved/Config/CrashReportClient/UECC-Windows-14F76FD7440173F307908DB7A92C9EF3/CrashReportClient.ini
ShooterProject/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
ShooterProject/Saved/Config/WindowsEditor/Engine.ini
ShooterProject/Saved/Config/WindowsEditor/GameUserSettings.ini
ShooterProject/Saved/Crashes/UECC-Windows-14F76FD7440173F307908DB7A92C9EF3_0000/CrashContext.runtime-xml
ShooterProject/Saved/Crashes/UECC-Windows-14F76FD7440173F307908DB7A92C9EF3_0000/CrashReportClient.ini
ShooterProject/Saved/Crashes/UECC-Windows-14F76FD7440173F307908DB7A92C9EF3_0000/ShooterProject_2.log
ShooterProject/Saved/Crashes/UECC-Windows-14F76FD7440173F307908DB7A92C9EF3_0000/UEMinidump.dmp
ShooterProject/Saved/Logs/ShooterProject.log
ShooterProject/Saved/Logs/ShooterProject_2.log
ShooterProject/Saved/SourceControl/UncontrolledChangelists.json
ShooterProject/Saved/Autosaves/PackageRestoreData.json
# Compiled Object files
ShooterProject/*.slo
ShooterProject/*.lo
ShooterProject/*.o
ShooterProject/*.obj

# Precompiled Headers
ShooterProject/*.gch
ShooterProject/*.pch

# Compiled Dynamic libraries
ShooterProject/*.so
ShooterProject/*.dylib
ShooterProject/*.dll

# Fortran module files
ShooterProject/*.mod

# Compiled Static libraries
ShooterProject/*.lai
ShooterProject/*.la
ShooterProject/*.a
ShooterProject/*.lib

# Executables
ShooterProject/*.exe
ShooterProject/*.out
ShooterProject/*.app
ShooterProject/*.ipa

# These project files can be generated by the engine
ShooterProject/*.xcodeproj
ShooterProject/*.xcworkspace
ShooterProject/*.sln
ShooterProject/*.suo
ShooterProject/*.opensdf
ShooterProject/*.sdf
ShooterProject/*.VC.db
ShooterProject/*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files
ShooterProject/Binaries/*
ShooterProject/Plugins/*/Binaries/*

# Builds
ShooterProject/Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
ShooterProject/!Build/*/
ShooterProject/Build/*/**
ShooterProject/!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
ShooterProject/!Build/**/*.ico

# Built data for maps
ShooterProject/*_BuiltData.uasset

# Configuration files generated by the Editor
ShooterProject/Saved/*

# Compiled source files for the engine to use
ShooterProject/Intermediate/*
ShooterProject/Plugins/*/Intermediate/*

# Cache files for the editor to use
ShooterProject/DerivedDataCache/*
